<p>dashboard works!</p>

<form class="example-form">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Favorite food</mat-label>
      <input matInput placeholder="Ex. Pizza" #food>
    </mat-form-field>
  
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Leave a comment</mat-label>
      <textarea matInput placeholder="Ex. It makes me feel..." #text></textarea>
    </mat-form-field>

    <button (click)="fg(text.value, food.value)">Submit</button>
  </form>

<br>
<br>
<h3>-------->{{food}}</h3>
<h3>{{comment}}</h3>
