.special{
    color:red
}
.abc{
    background-color: green;


}

.abc1{
    background-color: blue
}

.one{
    background-color:red;
}

.two{
    background-color:green;

}

.three{
    background-color:yellow;
}

.four{
    background-color: blue

}

.five{
    background-color:orange
}

.six{
    background-color: pink

}

.seven{
    background-color:blueviolet
}

.eight{
    background-color:palevioletred
}

.nine{
    background-color:olive
}

.ten{
    background-color:peru
}

.zero{
    background-color:yellowgreen
}