<mat-slider min="1" max="100" step="1" value="50"></mat-slider>

<h1 appRedEl >It is directive</h1>


 <h2>{{pipe1 | custom}}</h2> 
 <h2>{{list[0] | custom}}</h2>

<table style="border : 5px solid rgb(7, 210, 10)">
<ul *ngFor ="let item of list">
    <li [ngClass]="item | custom">{{item | custom }}</li>         
</ul>
</table>  





<!-- toggle the "special" class on/off with a property -->
<div [ngClass]="isSpecial ? 'special' : ''">This div is special</div>


<button [ngClass]="abc ? 'abc': ''" (click)="change1()"> green</button>
<button [ngClass]="!abc ? 'abc': ''" (click)="change1()"> red</button>

<app-footer></app-footer>
<app-header></app-header>
<app-main></app-main>
<app-dashboard (parentComponent)="parentComponent($event)"></app-dashboard>

<h3>cild to parent --------->{{name}}</h3>
<h3>cild to parent --------->{{name2}}</h3>


<router-outlet></router-outlet>